h1 {
    background-color: aquamarine;
    border: 10px solid gold;
    padding: 24px 8px 24px 8px;
    width: 400px;
    margin: auto auto 40px auto;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    box-sizing: content-box;
    border-radius: 20px;
}

.recipe {
    display: block;
    margin: 16px auto 16px auto;
    font-size: 20px;
    font-family: Verdana, "Geneva", Tahoma, sans-serif;
    background-color: whitesmoke;
    border: 2px solid silver;
    padding: 5px;
    border-radius: 5px;
}

